@import './reset';
@import './variables/global';
@import './theme/dark';
@import './theme/normal';
@import './variables/mixins';

.app {
    background-color: var(--bg-color);
    height: 100vh;
    font: var(--font-m);
    color: var(--primary-color);
}

.content-block {
    display: flex;
}

.page {
    flex-grow: 1;
    padding: 10px;
}
