@import './reset';
@import './variables/global.scss';
@import './theme/dark.scss';
@import './theme/normal.scss';

.app {
  background-color: var(--bg-color);
  height: 100vh;
  font: var(--font-m);
  color: var(--primary-color);
}

.content-block {
  display: flex;
}

.page {
  flex-grow: 1;
  padding: 10px;
}
