* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
select,
button,
textarea {
    margin: 0;
    font: var(--font-m);
    text-transform: inherit;
    letter-spacing: 0;
    text-rendering: inherit;
    appearance: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    font: var(--font-m);
}
