.Button {
    cursor: pointer;
    color: inherit;
}

.clear {
    padding: 0;
    background: none;
    border: none;
    outline: none;
}

.outlined {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: var(--bg-color);
}
