body {
    background-color: white;
    font: var(--font-m);
    color: var(--primary-color);
    width: fit-content;
}

.container {
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(143, 143, 143);
    min-width: 300px;
    padding: 12px;
}

.app {
    height: 100%;
    min-height: 500px;
}
